<!-- Page to show the logged-in @user -->
<h5>Log Out</h5>
<h2>Welcome <%=@user.username%></h2>

<br>
<h3>Edit Your Account</h3> <p>(link to users/views/edit.html.erb)</p>
<h3>Delete Your Account</h3> <p>(link to users/views/edit.html.erb)</p>
<h3>Create a Post </h3>(link to posts/views/new.html.erb)(the posts/views/new.html.erb has a link to see the single post on posts/views/show.html.erb)
<h3>See your Feed</h3>(link to posts/views/index.html.erb)
