<<<<<<< HEAD
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h2>Login</h2>
	
=======



<h1>Welcome, We are TeamSpirit!</h1>

<link rel="stylesheet" type="text/.scss" href="welcome.scss">

>>>>>>> master
