<<<<<<< HEAD
<h2> welcome <%= @username %>
</h2>
=======
<!-- Welcome "username" -->
<h2>Welcome<%=username%></h2>


<!-- link to create post -->
<%#link_to new_post%>
<!-- link to edit -->
<!-- link to delete -->
>>>>>>> fc7f92a1700e325efc6380e891f43ce36049d204
