<!-- Page to show the logged-in @user -->
<h2>Welcome<%=username%></h2>

<p>you are logged in</p>
<!-- link to create post -->
<%#link_to new_post%>
<!-- link to edit page -->
<!-- link to delete delete page-->
